
#text-print{
    display: none;
}

@media print{
    body {
        visibility: hidden;
    }

    .hide-print {
        display: none!important;
    }

    #text-print{
        display: block;
    }

    #print {
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        visibility: visible;
    }

    /*#print table th:last-child, table td:last-child{
        display: none;
    }*/
}